<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ content.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/grayscale/vendor/bootstrap/css/bootstrap.min.04aca1f4cd3e.css" rel="stylesheet" type="text/css">

    <!-- Custom fonts for this template -->
    <link href="../static/grayscale/vendor/fontawesome-free/css/all.min.c5f7b75baa77.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/grayscale/css/grayscale.css " rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="../static/grayscale/css/styles.css" rel="stylesheet"/>
</head>

<body id="page-top">

<a href="../"><h4 class="p-3 font-marker">Steve Sits</h4></a>

<!--&lt;!&ndash; Navigation &ndash;&gt;-->
<!--<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">-->
<!--    <div class="container">-->
<!--        <a class="navbar-brand js-scroll-trigger" href="/">-->
<!--            <a href="../" class="nav-link js-scroll-trigger"><h4>Steve Sits</h4></a>-->
<!--        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"-->
<!--                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"-->
<!--                aria-label="Toggle navigation">-->
<!--            <i class="fas fa-bars"></i>-->
<!--        </button>-->
<!--        <div class="collapse navbar-collapse" id="navbarResponsive">-->
<!--            <ul class="navbar-nav ml-auto">-->

<!--                <li class="ancestor">-->
<!--                    <a href="/blog/" class="nav-link js-scroll-trigger">-->
<!--                        Blog-->
<!--                    </a>-->
<!--                </li>-->

<!--                <li class="">-->
<!--                    <a href="/locations/" class="nav-link js-scroll-trigger">-->
<!--                        Locations-->
<!--                    </a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->

<div class="page-header">
    <h1 style="font-weight: 800;" class="post-heading text-center">{{ content.title }}</h1>

    <h3 class="text-center mb-5">
        {{ content.subtitle }}
    </h3>

    <hr>
    <div class="row no-gutters">
        <div class="col-6">
            <a href="{{ content.map }}"><p class="mb-0 pt-1 pl-2"><i class="fa fa-map-marked-alt pr-2"></i>{{ content.location }}</p></a>
        </div>
        <div class="col-6 social text-right">

                <span class="fa-stack fa-1x">
                    <i class="fas fa-circle fa-stack-2x" style="color: #3b5998"></i>
                    <a href="" id="facebookShareLink">
                        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                    </a>
                </span>

            <span class="fa-stack fa-1x">
                    <i class="fas fa-circle fa-stack-2x" style="color: #1da1f2"></i>
                    <a href="https://twitter.com/share?url=http%3A%2F%2Fwww.bloodyreapercomics.com%2Fblog%2Fjohn-wise-father%2F&amp;text=John%20the%20Wise%20Father">
                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                    </a>
                </span>

            <span class="fa-stack fa-1x">
                    <i class="fas fa-circle fa-stack-2x" style="color: #ff4500"></i>
                    <a href="http://www.reddit.com/submit?url=http%3A%2F%2Fwww.bloodyreapercomics.com%2Fblog%2Fjohn-wise-father%2F&amp;title=">
                        <i class="fab fa-reddit fa-stack-1x fa-inverse"></i>
                    </a>
                </span>

        </div>

    </div>
    <hr>


    <img src="{{ content.masthead }}" style="width: 100%">

    <hr class="mb-3">
</div>

<div class="rich-text">
{% for element in content.body %} {% for key, val in element.items() %}
{% if key == 'p' %}<p>{% for s in val %}{{ s }} {% endfor %}</p>{% elif key == 'i' %}<img src="{{ val }}">{% endif %}
{% endfor %}{% endfor %}
</div>

<!--<script>-->
<!--    $("#facebookShareLink").on("click", function () {-->
<!--        var fbpopup = window.open("https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.bloodyreapercomics.com%2Fblog%2Fjohn-wise-father%2F", "pop", "width=600, height=400, scrollbars=no");-->
<!--        console.log('fb');-->
<!--        return false;-->
<!--    });-->
<!--</script>-->

</body>
</html>